[Unit]
Description=Run shutdown hook scripts on instance termination
DefaultDependencies=no
Before=shutdown.target halt.target
Conflicts=reboot.target
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/bin/run-parts /etc/shutdown-hooks.d

[Install]
WantedBy=multi-user.target
